@import url('https://fonts.googleapis.com/css?family=Maiden+Orange');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import "normalize.css";

/* login */
.container-nav {
	background-color: rgb(2, 9, 20);
	padding: 15px;
	margin-bottom: 30px;
	overflow: hidden; /* para contener a los elementos flotados que hay adentro de este contenedor */
}

.logo{
	float: left;
	font-family: 'Oswald', sans-serif;
	color: white;
	margin: 5px;
	font-size: 45px;
  text-decoration: none;
}

.logo a{
	color: white;
	text-decoration: none;
}

.login-navbar {
	float: right;
	margin: 5px;
	font-size: 20px;
}

.login-navbar li {
	display: inline-block;
	font-family: 'Anton', sans-serif;
	margin-left: 20px;
	margin-top: 10px;
}

.login-navbar a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.contenedor-login{
  margin: auto;
  width: 380px;
  margin-top: 105px;
  padding-bottom: 25px;
  /* border: solid 1px red; /* temporal */
}

.contenedor-input{
  margin-bottom: 20px;
}

.contenedor-input input {
  display: block;
  width: 75%;
  margin: auto;
  height: 45px;
  border: solid 1px rgb(146, 148, 149);
  border-radius: 5px;
  padding: 0 15px;
  font-size: 22px;
  font-family: 'Maiden Orange', cursive;
}

.card-header{
	font-family: 'Pacifico', cursive;
	text-align: center;
	font-size: 50px;
  margin-bottom: 20px;
}

.btn-login {
	display: block;
	width: 75%;
	background-color: rgb(2, 9, 20);
  color: #FFFFFF;
	font-family: 'Anton', sans-serif;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 17px;
  text-transform: uppercase;
  border: none;
	margin:auto;
}

.btn-login:hover {
	background-color: rgb(1, 41, 80);
}

.pass-olvidada {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;
	font-size: 12px;
	margin-left: 13%;
	top: 50%;
}

#recordarme {
	font-family: 'Anton', sans-serif;
	font-size: 15px;
	margin-left: 64%;
	top: 50%;
}

.btn-login{
  margin-top: 20px;
  margin-bottom: 20px;
}
/* login  */


/* register */

.card-body{
   margin: auto;
   width: 380px;
   margin-top: 105px;
   padding-bottom: 25px;
}

.form-group input{
  display: block;
  width: 75%;
  margin: auto;
  height: 45px;
  border: solid 1px rgb(146, 148, 149);
  border-radius: 5px;
  padding: 0 15px;
  font-size: 22px;
  font-family: 'Maiden Orange', cursive;
  margin-bottom: 20px;
}

.btn-register {
	display: block;
	width: 75%;
	background-color: rgb(2, 9, 20);
  color: #FFFFFF;
	font-family: 'Anton', sans-serif;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 17px;
  text-transform: uppercase;
  border: none;
	margin:auto;
}

.btn-register:hover {
	background-color: rgb(1, 41, 80);
}

.input-container input{
	display: block;
	width: 100%;
	margin-top: 5px;
	margin-bottom: 25px;
	height: 30px;
	border: solid 1px rgb(146, 148, 149);
	border-radius: 5px;
	padding: 0 15px;
	font-size: 16px;
	font-family: inherit; /* logro que el input tome la misma tipografía que estoy usando para el body */
}

.input-container .short-label {
	display: inline-block;
  font-size: 18px;
  margin-left: 30px;
}


.input-container .short-input {
	display: inline-block;
	padding: 0;
	height: auto;
	width: auto;
}

.special-label{
  font-size: 22px;
  font-family: 'Maiden Orange', cursive;
}

#paises {
	margin-bottom: 30px;
	display: block;
	width: 75%;
	margin: auto;
	height: 40px;
	border: solid 1px rgb(146, 148, 149);
	border-radius: 5px;
	padding: 0 15px;
	font-size: 18px;
	margin-bottom: 20px;
}

#prov {
	margin-bottom: 30px;
	display: block;
	width: 75%;
	margin: auto;
	height: 40px;
	border: solid 1px rgb(146, 148, 149);
	border-radius: 5px;
	padding: 0 15px;
	font-size: 18px;
	margin-bottom: 20px;
}
/* register */
